html {
    font-family: sans-serif;
    background-color: whitesmoke;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

main {
    padding: 20px;
}

p {
    line-height: 1.5;
}

h3 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
}

li {
    line-height: 1.5;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

@media (min-width:320px) {
    
    .nav-main{
        display: block;
        width: 320px;
        height: 40px;
        margin: 0 auto;
        position: relative;
        text-align: center;
    }

    #check-menu{
        -webkit-appearance: none;
        -moz-appearance: none;
         appearance: none;
    }

    .nav-label{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        line-height: 40px;
        z-index: 3;
    }

    .nav-list{
        display: block;
        position: absolute;
        width: 100%;
        top: 40px;
        max-height: 0;
        font-size: 0;
        overflow: hidden;
        transition: 0.5s all;
        z-index: 4;
    }

    .nav-link{
        display: block;
        padding: 10px;
        text-decoration: none;
        background-color: black;
        color: white;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }

    .burger-line{
        position: absolute;
        top: 9px;
        right: 15px;
        width: 30px;
        height: 2px;
        background-color: black;
        transition: 0.2s all;
    }

    .burger-line-seconde,
    .burger-line-thirth{
        top: 19px;
    }

    .burger-line-fourth{
        top: 29px;
    }

    #check-menu:checked ~ .nav-list{
        max-height: 500px;
        font-size: 16px;
    }

    #check-menu:checked ~ .burger-line-first,
    #check-menu:checked ~ .burger-line-fourth{
        display: none;
    }

    #check-menu:checked ~ .burger-line-seconde{
        transform: rotate(45deg);
    }
    #check-menu:checked ~ .burger-line-thirth{
        transform: rotate(-45deg);
    }

    picture{
        position: relative;
        display: block;
    }
    picture::after{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.4;
        z-index: 2;
        position: absolute;
        top: 0;
    }

    .main-title{
        text-align: center;
    }

    .welcome__wrapper{
        margin: 30px auto;
        max-width: 60%;
        overflow: hidden;
    }
    .welcome{

    }
    .welcome__title{
        display: block;
        width: 100%;
        animation: welcome 5s linear infinite;
    }
    
    @keyframes welcome {
        0%{
            transform: translateX(100%);
        }
        100%{
            transform: translateX(-100%);
        }
        
    }
    .about__book-btn{
        display: block;
        width: 100px;
        height: 25px;
        margin: 0 auto;
        border: 1px solid black;
    }





}
